Filiera agricola.vpp.bak_006d
Filiera agricola.vpp.bak_007d
Filiera agricola.vpp.bak_008d
Filiera agricola.vpp.bak_009d
Filiera agricola.vpp.bak_010d
Filiera agricola.vpp.bak_011d
Filiera agricola.vpp.bak_012d
Filiera agricola.vpp.bak_013d
Filiera agricola.vpp.bak_014d
Filiera agricola.vpp.bak_015d
Filiera agricola.vpp.bak_016d
Filiera agricola.vpp.bak_017d
Filiera agricola.vpp.bak_018d
Filiera agricola.vpp.bak_019d

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
